 html, body {
  height: 100%;
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;
}

header {
  font-family: monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: white;
  color: gray;
}

main {
  height: 100%;
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: monospace;
  padding: 20px;
  font-size: 20px;
}

main p {
  margin: 1px;
}

main nav {
  margin: 1px;
}

main nav ul {
  list-style-type: none;
}

main nav li {
  margin: 5px;
}

main nav a {
  display: block;
  padding-left: 30px;
}

main a {
  color: blue;
  text-decoration: none;
}

main a:hover {
  text-decoration: underline;
}

.adjective {
  color: green;
}

.user {
  color: red;
}

.button {
  border: 1px solid blue;
  padding: 10px;
  color: blue;
  text-decoration: none;
  border-radius: 10px;
  font-family: monospace;
  font-size: 20px;
  transition: all 0.3s;
}

.button:hover {
  background-color: lightblue;
}
