      body, html {
        background-color: black;
        color: white;
        font-family: monospace;
        font-size: 25px;
      }
      h1, a {
         text-transform: lowercase; 
      }
      h1 {
        font-size: 30px; 
        text-align: center;
      }
      a {
        color: gold;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline; 
      }
      .org {
        color: mediumpurple; 
      }
      .big {
        text-align: center;
        font-size: 120px;
      }
      code {
        background-color: white;
        color: black;
        padding: 3px;
        border-radius: 5px;
      }
      .notfixed {
            /* straying away from the flag's colour scheme. this needs to be noticeable. */
            color: hotpink;
            text-transform: uppercase;
      }
      .home {
            display: block;
            text-align: center;
            margin-top: 10px;
      }
      article {
            margin: 0 auto;
            width: 90%;
            font-family: "Trebuchet MS", Bookman, monospace;
      }
